body {
    position: absolute;
    font-family: 'Cabin', sans-serif;
    background-color: #4fe5d3;
    width: 100%;
}

#game-board {
    display: block;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    margin: 30px auto 5px auto;
    padding: none;
    width: 80vw;
    background-color: #fff;
}

.game-piece {
    position: relative;
    margin: 0;
    width: 25%;
    text-align: center;
}

.game-piece p{
    position: relative;
    margin: 0;
    padding: 20px 20px;
    width: 100%;
    height: 100%;
}

.game-piece:hover{
    background-color: grey;
}

#match-check{
    width: 75px;
    height: 75px;
    background-color: grey;
    margin: 0 auto;
    text-align: center;
}